/* Accueil - Styles par défaut (mobile-first) */

body {
    margin: 0;
    font-family: 'Raleway', sans-serif;
    background-color: #ffffff;
    color: #333;
    width: 100%;
}

header {
    position: fixed;
    top: 0; 
    left: 0;
    width: 100%;
    z-index: 1000;
    transition: top 0.3s ease;
    background: linear-gradient(90deg, rgba(238,239,234,1) 0%, rgba(245,212,199,1) 44%, rgba(254,178,155,1) 100%);
    padding: 10px 20px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, auto);
    justify-content: center;
}

nav {
    display: none;
}

nav ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin: 0;
    padding: 0;
}

.main-nav-link.active {
    font-weight: bold; /* Texte en gras */
    text-decoration: underline; /* Texte souligné */
}

nav a {
    text-decoration: none;
    font-weight: 600;
    color: #ffffff;
    text-align: center;
}

/* Section commune */
section {
    padding: 20px;
}

section h3 {
    font-family: 'Playfair Display', serif;
    font-size: 20px;
    color: #3b5b8a;
    margin-top: 30px;
}

section p {
    font-family: 'Raleway', sans-serif;
    line-height: 1.6;
    text-align: justify;

}

.main-head-title{
    display: none;  
}

.mobile-menu{
    display: block;
}

/* Intro */
.intro {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
    align-items: center;
    text-align: center;
}

.intro .text {
    flex: 1;
}

.intro h1 {
    font-family: 'Playfair Display', serif;
    color: #000000;
    font-size: 24px;
}

.intro h2 {
    font-family: 'Playfair Display', serif;
    color: #3b5b8a;
    font-size: 18px;
}

.intro p {
    margin-bottom: 10px;
}

.intro button {
    background-color: #f0b7a4;
    border: none;
    padding: 10px 20px;
    border-radius: 20px;
    color: white;
    font-weight: 600;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.intro button:hover {
    background-color: #e39b88;
}

.intro .image img {
    width: 100%;
    height: auto;
    border-radius: 12px;
    object-fit: cover;
}

/* Cards */
.cards {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
}

.card {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    text-align: center;
}

.card img {
    width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: 10px;
}

.card h3 {
    font-family: 'Playfair Display', serif;
    color: #3b5b8a;
    font-size: 18px;
}

.card p {
    font-size: 14px;
    margin: 10px 0;
}

button {
    background-color: #f0b7a4;
    border: none;
    padding: 8px 20px;
    border-radius: 20px;
    color: white;
    font-weight: 600;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #e39b88;
}

/* Footer */
.main-foot {
    background-color: #f0b7a4;
    padding: 10px 20px;
    color: white;
    text-align: center;
}

/* Blog */
.main-content {
    margin-top: 120px; /* Ajuster la marge supérieure pour éviter que le contenu ne soit masqué par le header */
    display: flex;
    justify-content: center;
    width: 100%;
    flex: 1; /* Permet au contenu principal de prendre tout l'espace disponible */
}

.blog {
    margin: 0;
    font-family: 'Raleway', sans-serif;
    background-color: #ffffff;
    color: #333;
}

.sommaire {
    background-color: #ffe9e2;
    padding: 20px;
    margin: 20px auto;
    border-radius: 12px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.sommaire h2 {
    font-family: 'Playfair Display', serif;
    color: #3b5b8a;
    margin-bottom: 10px;
}

.sommaire ul {
    list-style: none;
    padding: 0;
}

.sommaire li {
    margin: 10px 0;
}

.sommaire a {
    text-decoration: none;
    color: #e67e64;
    font-weight: bold;
    transition: color 0.3s;
}

.sommaire a:hover {
    color: #3b5b8a;
}

/* Formulaire */
.formulaire {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.formulaire-container {
    position: relative;
    width: 100%;
    max-width: 800px; /* Limite la largeur sur les grands écrans */
    background-color: #f9f9f9; /* Optionnel : couleur de fond */
    border-radius: 8px; /* Optionnel : coins arrondis */
    overflow: hidden; /* Assure que rien ne dépasse */
}

.responsive-iframe {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0;
}

.main-section {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    flex-direction: column;
}

.a-propos h2 {
    font-family: 'Playfair Display', serif;
    font-size: 25px ;
    color: #3b5b8a;
    margin-top: 30px;
} 

/* Sticky Footer */
html, body {
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
}

html {
    scroll-behavior: smooth; /* Ajout de l'effet de défilement fluide */
}

/* Animation pour la transition de page */
.page-transition {
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.5s ease, transform 0.5s ease;
}

.page-transition-active {
    opacity: 1;
    transform: translateY(0);
}

/*a propos*/
.container-equipe {
    display: grid;
    grid-template-columns: repeat(4, 1fr); /* Quatre colonnes par défaut */
    gap: 2rem;
    padding: 2rem;
    margin: 2rem auto;
    border-radius: 20px;
    background-color: #fff;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
    justify-content: center; /* Centre les lignes */
}

.membre {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    min-width: 100px;
    font-family: 'Playfair Display', sans-serif;
    color: #2c2c2c;
}

.membre img {
    width: 90px;
    height: 90px;
    object-fit: cover;
    border-radius: 50%;
    border: 3px solid #f9b7a8;
    margin-bottom: 0.5rem;
    transition: transform 0.3s ease;
}

.membre img:hover {
    transform: scale(1.05);
}

/* Section À propos */
.a-propos {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 1rem;
}

.missions {
    text-align: center;
}

.container-equipe {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    align-items: center;
}

.membre {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 0.5rem;
}

.membre img {
    width: 90px;
    height: 90px;
    object-fit: cover;
    border-radius: 50%;
    border: 3px solid #f9b7a8;
    transition: transform 0.3s ease;
}

.membre img:hover {
    transform: scale(1.05);
}

.valeurs {
    text-align: center;
}

.valeurs-container {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

/* Styles pour les écrans plus larges */
@media (min-width: 768px) {
    header {
        display : flex;
        justify-content: flex-end;
    }

    nav {
        display: block;
    }

    nav ul {
        flex-direction: row;
        gap: 30px;
    }

    .mobile-menu{
        display: none;
    }

    .intro {
        flex-direction: row;
        text-align: left;
    }

    .intro .image {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        flex: 1;
    }

    .intro .image img {
        width: 80%;
        height: auto;
        border-radius: 12px;
        object-fit: cover; /* Ajustement pour les écrans plus larges */
    }

    .cards {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .card {
        flex: 1 1 calc(33.333% - 20px);
        align-items: flex-start;
        text-align: left;
    }
    .card img {
        width: 100%;
        height: 200px;
        object-fit: cover;
        border-radius: 10px;
    }

    .a-propos {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .missions {
        flex: 1;
        text-align: left;
    }

    .container-equipe {
        display : flex;
        flex-direction: row;
        justify-content: center;
        flex-wrap: wrap;
    }

    .valeurs-container {
        flex-direction: row;
        justify-content: space-between;
    }

    .container-equipe .membre {
        flex: 1 1 calc(25% - 2rem); /* 4 membres par ligne maximum */
        max-width: calc(25% - 5rem);
    }

    .membre {
        flex: 1 1 calc(33.333% - 1rem);
        max-width: 200px;
    }

    .valeurs-container {
        flex-direction: row;
        justify-content: space-between;
    }
}

@media (min-width: 1024px) {
    .intro h1 {
        font-size: 32px;
    }

    .intro h2 {
        font-size: 18px;
    }

    .cards {
        gap: 30px;
    }

    .card img {
        height: 300px; /* Ajustement pour les images sur ordinateur */
    }

    .membre img {
        width: 120px;
        height: 120px;
    }

    .valeurs-container {
        gap: 2rem;
    }
}

